.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #e3c2aa;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: opacity .2s;
}

.slider::before { /* to get rid of weird white square */
    visibility: hidden;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background: #a42727;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -moz-appearance: none;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background: #a42727;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background: #ff002c;
}

.slider::-moz-range-thumb:hover {
    background: #ff002c;
}